/* In your global CSS file (e.g., globals.css) */

.hide-table-scrollbar {
    /* Hide scrollbar for Firefox, IE, and Edge on the main container */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hide-table-scrollbar *::-webkit-scrollbar {
    /* Target all children scroll elements (body, header, etc.) for WebKit */
    display: none;
    width: 0 !important;
    height: 0 !important;
}

/* Fallback for the .ant-table-body for consistency */
.hide-table-scrollbar .ant-table-body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-table-scrollbar .ant-table-body::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
}

html {
  scroll-behavior: smooth;
}